{% assign product = section.settings.product %}
<div class="page-width">
  <h2>Featured Product Here</h2>

  {% if product != blank %}
    <h4>{{ product.title }}</h4>
    {{ product.description }}
  {% endif %}

    <div class="main-container">
      <div class="rectangle"></div>
      <div class="frame-1">
        <div class="frame-2">
          <span class="featured-product-name">Featured Product name</span>
          <div class="group">
            <div class="dollar-sign">
              <span class="dom-nbsp">$12 </span><span class="dollar">$15</span>
            </div>
            <span class="save-three">save $3</span>
            <div class="line"></div>
          </div>
          <span class="product-description"
            >Place the product descipription here.<br />Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Donec quis augue tempus,
            vestibulum neque eu, tempor ex. Quisque pulvinar volutpat mi, vitae
            aliquet nisl tincidunt vitae. Nulla porta massa neque, vel tincidunt
            ante vestibulum quis. Sed feugiat auctor ipsum. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus
            mus.</span
          >
        </div>
        <div class="frame-3">
          <span class="tag-1">tag 1</span>
          <div class="ellipse"></div>
          <span class="tag-2">tag 2</span>
        </div>
        <button class="frame-4">
          <span class="add-to-cart">ADD TO CART</span>
        </button>
      </div>
      <div class="frame-5">
        <span class="materials">MATERIALS</span>
        <div class="vector"></div>
      </div>
      <div class="frame-6">
        <div class="body-recycled-stainless">
          <span class="body-recycled-stainless-7"
            >Body: The main body of the EcoStream Water Bottle is made from 100%
            recycled stainless steel, providing a durable and rust-resistant
            solution for daily hydration needs. This choice of material ensures
            a long product lifecycle and reduces the need for virgin raw
            materials.<br />Lid: Composed of BPA-free, food-grade polypropylene
            (PP5), our lids are designed for safety and longevity. They are
            engineered to be leak-proof and easy to clean, ensuring that your
            drinking experience is both secure and convenient.</span
          >
        </div>
      </div>
      <div class="frame-8">
        <span class="delivery-information">Delivery Information</span>
        <div class="vector-9"></div>
      </div>
    </div>

  {% render 'product-more-info' %}
</div>

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Featured product"
    }
  ]
}
{% endschema %}