<footer class="footer">
  <div class="rectangle-f">
        <span class="contact-us">CONTACT US</span
        ><span class="email">hello@shopify.com</span>
        <div class="flex-row">
          <span class="copyright"
            >Copyright 2023 Drive Digital. All rights reserved.</span
          ><span class="privacy-policy">Privacy Policy</span
          ><span class="terms-and-conditions">Terms and Conditions</span
          ><span class="returns">Returns</span>
        </div>
      </div>
</footer>

{% schema %}
{
  "name": "Footer"
}
{% endschema %}
