<header class="site-header" role="banner">
  <div class="header-wrapper">
    <div class="header-content">
      <a href="/" class="logo-link">
        {%- if section.settings.logo != blank -%}
          <img 
            src="{{ section.settings.logo | img_url: 'master' }}" 
            alt="{{ shop.name }}"
            class="logo"
            width="161"
            height="46"
            loading="eager"
          >
        {%- else -%}
          <span class="shop-name">{{ shop.name }}</span>
        {%- endif -%}
      </a>

      <div class="cart-container">
      <a href="/cart" class="cart-link" aria-label="Shopping Cart">
        <span class="cart-badge" aria-hidden="true">
          {{ cart.item_count }}
        </span>
        <div class="cart-icon"></div>
      </a>
    </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}