  <header class="header">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fce88aeb17d2d7bc058376c5dae1dfe5da682f407399e3c277939467893220a1?placeholderIfAbsent=true&apiKey=874c8ab8215f4da29d36330b51c2d70b" class="logo" alt="Company Logo" />
    <div class="cart-container">
      <div class="cart-badge">1</div>
      <div class="cart-icon" role="button" tabindex="0" aria-label="Shopping Cart"></div>
    </div>
  </header>
{% schema %}
{
  "name": "Header"
}
{% endschema %}
