<header class="header page-width">
  <div class="main-container1">
    <div class="frame-1">
      <span class="shopify-experts">Shopify eCommerce experts.</span
      ><span class="ecommerce-websites"
        >We design, build and<br>
        optimise exceptional<br>
        eCommerce websites.</span
      ><button class="frame-2">
        <span class="start-project">START YOUR PROJECT</span>
      </button>
    </div>
  </div>
</header>
<style>
  :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

  .main-container1 {
    overflow: hidden;
  }

  .main-container1,
  .main-container1 * {
    box-sizing: border-box;
  }

  input,
  select,
  textarea,
  button {
    outline: 0;
  }

  .main-container1 {
    position: relative;
    width: 1440px;
    height: 471px;
    margin: 0 auto;
    background: url(../assets/images/eae313a48883a46e7a2a60ee806e73a8052191be.png)
      no-repeat center;
    background-size: cover;
    opacity: 0.2;
  }
</style>
{% schema %}
{
  "name": "Header"
}
{% endschema %}
