<div class="hero-section">
  <div class="hero-container">
    <img loading="lazy" src="{{ section.settings.image | img_url: 'master' }}" class="hero-bg" alt="Hero Background Image"/>
    <div class="hero-content">
      <div class="hero-text-wrapper">
        <p class="hero-tagline">Shopify eCommerce experts.</p>
        <h1 class="hero-heading">
          We design, build and<br />
          optimise exceptional<br />
          eCommerce websites.
        </h1>
        <button class="cta-button">START YOUR PROJECT</button>
      </div>
    </div>
  </div>
</div>

<style>
  .hero-section {
    width: 100%;
    text-transform: uppercase;
    font: 700 14px Montserrat, sans-serif;
    position: relative;
    height: 100vh;
    min-height: 471px;
    display: flex;
    align-items: center;
  }

  .hero-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 80px;
  }

  .hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .hero-content {
    position: relative;
    display: flex;
    width: 352px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .hero-text-wrapper {
    display: flex;
    width: 100%;
    max-width: 332px;
    flex-direction: column;
  }

  .hero-tagline {
    color: var(--Bright-Green, #2bd896);
    letter-spacing: 1.4px;
  }

  .hero-heading {
    color: #fff;
    margin-top: 8px;
    font: 28px Poppins, sans-serif;
  }

  .cta-button {
    border-radius: 5px;
    background-color: #c6474b;
    margin-top: 8px;
    width: 236px;
    color: #fff;
    padding: 10px;
  }
</style>

{% schema %}
{
  "name": "Image banner",
  "presets": [
    {
      "name": "Image banner"
    }
  ],
   "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Upload Image"
    }
  ],
}
  
{% endschema %}