{{ 'image-banner.css' | asset_url | stylesheet_tag }}

<div class="main-container">

  
</div>
 

{% schema %}
{
  "name": "Image banner",
  "presets": [
    {
      "name": "Image banner"
    }
  ]
}
  
{% endschema %}