<div class="hero-section">
  <div class="hero-content">
      <div class="hero-banner">
        <div class="hero-text-wrapper">
          <div class="hero-text-container">
            <div class="highlight-text">Shopify eCommerce experts.</div>
            <h1 class="main-heading">
              We design, build and<br>
              optimise exceptional<br>
              eCommerce websites.
            </h1>
            <button class="cta-button" tabindex="0">START YOUR PROJECT</button>
          </div>
        </div>
      </div>
    </div>
</div>


{% schema %}
{
  "name": "Image banner",
  "presets": [
    {
      "name": "Image banner"
    }
  ]
}
  
{% endschema %}