<div  id="Banner-{{ section.id }}" class="hero-section">
  <div class="hero-container">
    <!-- <img loading="lazy" src="{{ section.settings.image | img_url: 'master' }}" class="hero-bg" alt="Hero Background Image"/> -->
    <div class="hero-content">
      <div class="hero-text-wrapper">
        <p class="hero-tagline">Shopify eCommerce experts.</p>
        <h1 class="hero-heading">
          We design, build and<br />
          optimise exceptional<br />
          eCommerce websites.
        </h1>
        <button class="cta-button">START YOUR PROJECT</button>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image banner",
  "presets": [
    {
      "name": "Image banner"
    }
  ],
   "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Upload Image"
    }
  ],
}
  
{% endschema %}