:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 79px;
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
.rectangle {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 471px;
  background: url(./assets/images/eae313a48883a46e7a2a60ee806e73a8052191be.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 352px;
  padding: 10px 10px 10px 10px;
  z-index: 2;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 332px;
  z-index: 3;
}
.shopify-experts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #2ad795;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1.4px;
  z-index: 4;
}
.exceptional-ecommerce {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 332px;
  height: 126px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 5;
  overflow: hidden;
}
.frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 236px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #c6474b;
  border: none;
  z-index: 6;
  border-radius: 5px;
}
.start-your-project {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 7;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 62px;
  position: relative;
  width: 1120px;
  z-index: 8;
}
.featured-product {
  flex-shrink: 0;
  position: relative;
  width: 1120px;
  height: 379px;
  z-index: 9;
}
.rectangle-5 {
  position: absolute;
  width: 645px;
  height: 379px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 24;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 22px;
  position: absolute;
  width: 455px;
  height: 347px;
  top: 16px;
  left: 665px;
  z-index: 10;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 455px;
  z-index: 11;
}
.featured-product-name {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 33px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 12;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 109px;
  height: 21px;
  z-index: 13;
}
.dollar-sign {
  position: absolute;
  width: 58px;
  height: 21px;
  top: 0;
  left: 0;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 15;
}
.dollar-amount {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}
.dollar-sign-8 {
  position: relative;
  color: #d9d9d9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}
.save-three-dollars {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 3px;
  left: 69px;
  color: #c6474b;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.line {
  position: absolute;
  width: 30px;
  height: 1px;
  top: 10px;
  left: 32px;
  background: url(./assets/images/a81734c9-65dd-4eb4-a432-1fe6b46fd08a.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.product-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 455px;
  height: 160px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.7px;
  z-index: 17;
}
.frame-9 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 112px;
  z-index: 18;
}
.tag-1 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;